    "y-monaco": "^0.1.6",
    "y-protocols": "^1.0.6",
    "y-textarea": "^1.0.2",
    "yjs": "^13.6.27"
    "@faker-js/faker": "^9.9.0",
    "vite-plugin-monaco-editor-esm": "^2.0.2"
    "socket.io-client": "^4.8.1",